.button_book {
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border: none;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font: 14px Verdana;
        font-weight: normal;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #33cccc;
}
.button_book:hover {
    color: #333366;
    background-color: #33cccc;
    
}

.video{
    text-align: left;
    margin-left: 10px;
}
.doctor{
    position:relative;
    width:250px;
}
.descr{
    display:none;
    padding:10px;
    background:#f3f3f3;
    height: auto;
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.doctor:hover .descr{
    display:block;
    position:absolute;
    top:50px;
    z-index:9999;
    width:300px;
    text-align: left;
    margin:10px 10px 0 0;
    padding-right: 30px;
    
}

.fon1 { 
     background-color:#b5eaea;
     margin: 20px 0;
     padding: 20px;
      }
      
.fon2 { 
     background-color:#f3f7f7;
     margin:20px 0;
     padding: 20px;
      }
 .parent { 
     display: flex; 
     justify-content: space-around; 
     width:100%;
     flex-wrap: wrap;
     margin: 50px 0 0 0;
     text-align: center;
      }
  .parent0 { 
     background-color:#f3f7f7;
     z-index:300;
     margin:0 auto;
      }     
 .parent1 { 
     display: flex;
     justify-content: space-around;
     width:100%;
     flex-wrap: wrap;
     text-align: center;
      }
.fon_s {
    background-color:#f3f7f7;
    padding: 20px;
      }
.fon_w {
    display: block;
    width: 300px;
    background-color:#f3f7f7;
    margin: 20px;
    text-align: center;
}
.parent2 { 
     display: flex;
     justify-content: space-around;
     width:100%;
     margin:-20px auto;
     text-align: center;
      }
.content-page__title1 {
    padding: 20px;
    color: #669999;
    font: Verdana;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.subpage-menu1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
 .subpage-menu__link1:hover {
    text-decoration: none;
    color: #000;
 }

.subpage-menu__item1 {
    display: inline-block;
    margin: 5px;
    background-color: #fbfcfc;
}

.subpage-menu__link1 {
    text-decoration: none;
    color: #666666;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
}
.detail {
    color: #ff9966;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px dotted #ff9966;
    margin: 20px;
    text-align: center;
}
.monster {
   width: 160px;
	margin-top: -150px; 
}  
.monster_green {
   width: 160px;
	margin-top: -150px; 
}  
.super {
    width: 200px; 
    float: right; 
    margin-top: -200px;
}

.round {
   margin-top:20px;
    width: 200px;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg); }
}

.kids-menu {
  margin: -50px 0 -50px 0;
  list-style: none;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .kids-menu_item {
    margin: 10px;
    width: 70px; }
  .kids-menu_link {
    color: inherit;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: center;
    max-width: 70px; }
  .kids-menu_image {
    --size: 70px;
    width: var(--size);
    height: var(--size);
    padding: 10px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #3399cc;
    background-color: #ffffff;
    display: block;
    margin: 0 auto 12px;
     }
    .kids-menu_link:hover .kids-menu_image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#659cac), to(#cae6f3));
    background-image: linear-gradient(to bottom, #659cac, #cae6f3);
    border: 3px solid #3399cc; }
  .kids-menu_icon {
    padding: 10px;
    width: 70px;
    display: block;
    margin: 0 auto 12px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    will-change: transform; }
    .kids-menu_link:hover .kids-menu__icon {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
      
 .kids-header-image { width:100px; }
 

.doctor_img {
display:block; 
float:left; 
width:350px;
text-align: center;
}
.doctor_txt {
display:block; 
float:right; 
width: calc(100% - 350px);
}


@media screen and (max-width: 700px)
{
 .monster { width: 100px;  margin-top: -180px; clear: both; }
 .monster_green { width: 100px;  margin-top: -100px; clear: both; }
 .super { width: 100px;  margin-top: -180px; clear: both; }
 .content-page__title1 { clear: both; }
 .band_content_doctor { padding: 20px; }
}
  @media (max-width: 500px) {
    .content-page { padding: 25px 10px; }
      .content-page_full { padding: 0; } 
      .band_content_doctor {padding: 0; }
      .doctor_img { display:block; width:100%; text-align: center; }
      .doctor_txt { display:block; width: 100%; }

  }
  .content-page__img_left {
    float: left;
    margin: 0 20px 10px 0;
}

.content-slider {
  width: 100%;
  height: 400px;
}

.slider {
  height: 400px;
  width: 500px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 400px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 500px;
  height: 400px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 20px;
  font-style: italic;
}
.slider h1 {
  font-size: 22px;
  text-align: center;
}

.slider .source {
  font-size: 16px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 25s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 25s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 25s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}
 @media (max-width: 700px) {
     .slider { width: 90%; }
    .slider li { width: 90%; }
     }
     